.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/

00_data/03-geobia/ortofoto-downsample.tiff
00_data/03-geobia/rgb-nir-downsample.tiff

00_resources/02-geospatial-intermedio/eutrees4f_2022.pdf
00_resources/02-geospatial-intermedio/feddema_2005.pdf

02_geospatial_intermedio/999*
02_geospatial_intermedio/02b-willmott-feddema.R
00_data/02-geospatial-intermedio/prec_chirps/*

performance-test/
02_geospatial_intermedio/visualize-images.py