.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
02_geospatial_intermedio/*-sequia.R
00_data/03-geobia/segmentation-lsms.parquet
00_data/03-geobia/segmentation-meanshift.parquet
00_data/03-geobia/ortofoto-downsample.tiff
00_data/03-geobia/rgb-nir-downsample.tiff
00_data/test